{% load i18n dajaxice_templatetags %}
<!DOCTYPE html>
<html>
<head>
  <title>Imaginary Time</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Imaginary Time is a collective textile making and time allocation project." />
  <meta name="keywords" content="imaginary time, textile, time management, time, loom" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site.css" />
  <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" />
  <![endif]-->
  <script src="{{ STATIC_URL }}js/browser.js" type="text/javascript"></script>
  {% block extra_css %}{% endblock %}
  <script type="text/javascript">var STATIC_URL = '{{ STATIC_URL }}';</script>
</head>
<body>
  <div id="container">
    <h1>IMAGINARY TIME</h1>
    {% block content %}
    {% endblock content %}
   	<div id="clickLayer"></div>
  </div>
  <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.js"></script>	
  {% dajaxice_js_import %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/lib.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/site.js"></script>
  {% include "analytics.html" %}
  {% block extra_js %}{% endblock %}
</body>
</html>