body {
	font-family:"Andale Mono","Monotype.com",  "Droid Sans", monospace, Helvetica, Arial, sans-serif;
	font-size:10px;
	line-height:12px;
	color:#000; 
	margin:0;
}
a {
	cursor:pointer;
	text-decoration:none;
	outline: 0;
}
h1, h2, h3, h4, h5, h6 {
}
h2 {
	font-size:10px;
	font-weight:normal;
	line-height:12px;
	color: #005fff;
}

#container {
    
}
#clickLayer {
	position:absolute;
	height:100%;
	width:100%;
	background-color:white;
	z-index:2;
	display:none;

	/* Theoretically for IE 8 & 9 (more valid) */	
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";

	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=20);

	/* Older than Firefox 0.9 */
	-moz-opacity:0.2;

	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.2;

	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.2;
	
}